body{
  background-color: #5BDFA7;
  
}

.div1{
  background-color: #858087;
  color: black;
  border-radius: 50px;
  text-align: center;
  border: 3px;
  border-color: blue;
  border-style: dotted;
}
.your-data{
	background-color: 
}
